# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Not required files
Enterprise_Gap_Analysis.html
FullStack_Audit_Report.html
proposals.md
PTC_Campus_Interview_Guide.html
PTC_India_Power_Trading_Interview_Guide.html
Roadmap_to_97_Percent.html
SmartCF_Audit_Report.html
SmartCF_Campus_Interview_QnA.html
tech-analysis.html
supabase.ts
Mega_App_Solutions.html
Remaining_System_Design.html
SmartCF_Campus_Interview_QnA.html
SmartCF_Campus_Interview_QnA.html
Mega_App_Architecture_VS_SmartCF.html